# Ignore Streamlit Secrets (CRITICAL)
.streamlit/

# Ignore Python Cache
__pycache__/
*.pyc

# Ignore vscode
.vscode/

# Ignore lib
lib/

# Ignore local Python virtual environment
.venv/

# Ignore local environment/credential files
.env
.env.*