# Ignore Streamlit Secrets (CRITICAL)
.streamlit/

# Ignore virtual environment (machine-specific, recreate with pip install)
.venv/

# Ignore Python Cache
__pycache__/
*.pyc

# Ignore vscode
.vscode/

# Ignore lib
lib/

# Ignore macOS metadata
.DS_Store

.streamlit/secrets.toml
.env
.streamlit/secrets.toml
